
.footer{
    background-color: var(--color-grey-dark);
    height:7.5rem;
    width:100%;
    box-shadow: 0 2rem 4rem #B79967;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer_text{
    width: 100%;
    font-size: medium;
}